* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  width: 100%;
  justify-content: center;
  max-width: 1300px;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0 20px;
}

.body-txt {
  padding-left: 60px;
}

.body-txt1 {
  font-size: 48px;
  color: #0066cc;
  font-weight: 700;
  font-family: sans-serif;
  padding-top: 135px;
}

.body-txt2 {
  font-size: 48px;
  color: #f9731e;
  font-weight: 700;
  font-family: sans-serif;
}

.body-txt3 {
  width: 550px;
  height: 48px;
  margin: 20px 0px 0px 0px;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(107, 114, 128);
  font-weight: 500;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-img {
  width: 450px;
  height: 450px;
  background-image: linear-gradient(
    to right,
    rgba(0, 102, 204, 0.1),
    rgba(249, 115, 22, 0.1)
  );
  border-radius: 8px;
  margin-right: 130px;
  margin-top: 45px;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.hero-btn {
  display: flex;
  gap: 10px;
}

.hero-btn1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 45px;
  margin-top: 35px;
  border-radius: 8px;
  padding: 12px 45px;
  border: 2px solid #0066cc;
  animation-duration: 0.3s;
  background-color: #0066cc;
  color: white;
  cursor: pointer;
}

.hero-btn2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 45px;
  margin-top: 35px;
  border-radius: 8px;
  padding: 12px 45px;
  border: 2px solid #f9731e;
  animation-duration: 0.3s;
  background-color: #f9731e;
  color: white;
  cursor: pointer;
}

.hero-btn1:hover {
  color: white;
  background-color: #0066cc;
}

.arrow-ico1 {
  background-color: #0066cc;
  margin-top: 3px;
}

.arrow-ico2 {
  background-color: #f9731e;
}

.hero-maintxt {
  display: grid;
  margin-top: 120px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 36px;
  text-align: center;
}

.arrow-dwn {
  text-align: center;
  font-size: 30px;
  height: 10px;
  margin-top: 70px;
  color: #0066cc;
}

.hero-txt {
  text-align: center;
  margin-top: 25px;
  color: rgb(107, 114, 128);
  font-size: 20px;
}

.cards {
  display: flex;
}

.card1 {
  border: 2px solid rgb(226, 232, 240);
  width: 400px;
  text-align: center;
  border-radius: 10px;
  margin-top: 80px;
}

.card-head {
  background-image: linear-gradient(
    to right,
    rgb(0, 102, 204),
    rgb(249, 115, 22)
  );
  padding: 7px;
  border-radius: 10px 10px 0 0;
}

.card-body1 {
  padding: 26px;
}

.card1-txt1 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: start;
}

.card1-txt2 {
  font-family: sans-serif;
  font-size: 14px;
  text-align: start;
  margin-top: 10px;
  color: rgb(100, 116, 139);
}

.card1-txt3 {
  font-family: sans-serif;
  font-size: 16px;
  text-align: start;
  margin-top: 10px;
  color: rgb(75, 85, 99);
}

.card1-txt4 {
  font-family: sans-serif;
  font-size: 16px;
  text-align: start;
  margin-top: 10px;
  color: rgb(0, 102, 204);
}

.card1-ico {
  text-align: center;
  margin-bottom: 20px;
}

.card-head-ico1 {
  text-align: center;
  margin-left: 160px;
  padding-top: 8px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  color: #0066cc;
  background-color: rgb(255, 255, 255);
}

.card2 {
  border: 2px solid rgb(226, 232, 240);
  width: 400px;
  text-align: center;
  margin-left: 50px;
  border-radius: 10px;
  margin-top: 80px;
}

.card-social-ico {
  color: rgb(234, 56, 76);
  margin-top: 6px;
}

.card-head2 {
  background-image: linear-gradient(
    to right,
    rgb(234, 56, 76),
    rgb(249, 115, 22)
  );
  border-radius: 10px 10px 0 0;
  padding: 7px;
}

.hero-icon2 {
  margin: 6px 3px 3px 4px;
}

.card-body2 {
  padding: 26px;
}

.card-head-ico2 {
  text-align: center;
  margin-left: 160px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  color: #0066cc;
  background-color: rgb(255, 255, 255);
}

.card2-txt1 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: start;
}

.card2-txt2 {
  font-family: sans-serif;
  font-size: 14px;
  text-align: start;
  margin-top: 10px;
  color: rgb(100, 116, 139);
}

.card2-txt3 {
  font-family: sans-serif;
  font-size: 16px;
  text-align: start;
  margin-top: 10px;
  color: rgb(75, 85, 99);
}

.card2-txt4 {
  font-family: sans-serif;
  font-size: 16px;
  text-align: start;
  margin-top: 10px;
  color: rgb(0, 102, 204);
}

.card2-ico {
  text-align: center;
  margin-bottom: 20px;
}

.card3 {
  border: 2px solid rgb(226, 232, 240);
  width: 400px;
  text-align: center;
  margin-left: 50px;
  border-radius: 10px;
  margin-top: 80px;
}

.card-social-ico3 {
  color: rgb(249, 115, 22);
}

.card-head-ico3 {
  text-align: center;
  margin-left: 160px;
  padding-top: 8px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  color: #0066cc;
  background-color: rgb(255, 255, 255);
}

.card-head3 {
  background-image: linear-gradient(
    to right,
    rgb(249, 115, 22),
    rgb(250, 204, 21)
  );
  border-radius: 10px 10px 0 0;
  padding: 7px;
}

.card-body3 {
  padding: 26px;
}

.card3-txt1 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: start;
}

.card3-txt2 {
  font-family: sans-serif;
  font-size: 14px;
  text-align: start;
  margin-top: 10px;
  color: rgb(100, 116, 139);
}

.card3-txt3 {
  font-family: sans-serif;
  font-size: 16px;
  text-align: start;
  margin-top: 10px;
  color: rgb(75, 85, 99);
}

.card3-txt4 {
  font-family: sans-serif;
  font-size: 16px;
  text-align: start;
  margin-top: 10px;
  color: rgb(0, 102, 204);
}

.card3-ico {
  text-align: center;
  margin-bottom: 20px;
}

.btm-cards {
  display: flex;
  width: 1400px;
  height: 300px;
  
}

.btm-text1 {
  text-align: center;
  margin-top: 120px;
  font-size: 30px;
  color: rgb(17, 24, 39);
  font-weight: 700;
  font-family: sans-serif;
}

.btm-text2 {
  text-align: center;
  color: rgb(75, 85, 99);
  font-size: 18px;
  margin-top: 20px;
  font-family: sans-serif;
}

.btm-cards {
  display: flex;
}

.btm-card1 {
  text-align: center;
  border-radius: 10px;
  width: 400px;
  margin-top: 50px;
  margin-left: 50px;
  border: 2px solid rgb(226, 232, 240);
  background-color: rgb(249, 250, 251);
}

.btm-card-txt1 {
  font-size: 20px;
  color: rgb(2, 8, 23);
  font-weight: 700;
}

.btm-card-txt2 {
  font-size: 16px;
  color: rgb(75, 85, 99);
  margin-top: 10px;
}

.btm-card-txt3 {
  display: flex;
  font-size: 16px;
  color: #0066cc;
  margin-top: 10px;
}

.link-ico {
  background-color: black;
  color: white;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 16px;
  margin-left: 650px;
  margin-right: 640px;
  text-align: center;
  border-radius: 6px;
  height: 50px;
  width: 50px;
  padding: 10px 3px 5px 7px;
}

.link-text1 {
  text-align: center;
  color: rgb(17, 24, 39);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-right: 40px;
}

.link-text2 {
  text-align: center;
  color: rgb(75, 85, 99);
  font-size: 18px;
  margin-top: 20px;
  margin-right: 40px;
}

.footer-btn {
  border: 2px solid black;
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 8px;
  padding-top: 16px;
  margin-left: 580px;
  margin-top: 60px;
}

.telegram-icon {
  width: 70px;
  height: 70px;
  margin-left: 635px;
  margin-top: 10px;
  color: white;
}

.telegram-area {
  background-image: linear-gradient(
    to right,
    rgb(0, 102, 204),
    rgb(37, 99, 235)
  );
  padding: 30px 40px;
  margin-top: 70px;
}

.telegram-btn {
  background-color: white;
  color: rgb(0, 102, 204);
  border: 2px solid rgb(0, 102, 204);
  padding: 5px;
  text-align: center;
  width: 300px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 60px;
  margin-left: 483px;
  padding-top: 14px;
}

.telegram-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.telegram-btn-ico {
  width: 20px;
  height: 20px;
}

.footer-text {
  text-align: center;
  padding-top: 70px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.footer-qns {
  display: grid;
  gap: 20px;
  font-weight: 700;
  font-size: 18px;
}

.footer-qn1 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn1 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn1:hover {
  background-color: rgb(249, 250, 251);
  text-decoration: underline;
  cursor: pointer;
}

.footer-qn2 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn2 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn2:hover {
  background-color: rgb(249, 250, 251);
  text-decoration: underline;
  cursor: pointer;
}

.footer-qn3 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn3 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn3:hover {
  background-color: rgb(249, 250, 251);
  text-decoration: underline;
  cursor: pointer;
}

.footer-qn4 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn4 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn4:hover {
  background-color: rgb(249, 250, 251);
  text-decoration: underline;
  cursor: pointer;
}

.footer-qn5 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn5 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn5:hover {
  background-color: rgb(249, 250, 251);
  text-decoration: underline;
  cursor: pointer;
}

.footer-qn6 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn6 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn6:hover {
  background-color: rgb(249, 250, 251);
  text-decoration: underline;
  cursor: pointer;
}

.footer-qn7 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn7 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn7:hover {
  background-color: rgb(249, 250, 251);
  text-decoration: underline;
  cursor: pointer;
}

.footer-qn8 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn8 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn8:hover {
  background-color: rgb(249, 250, 251);
  text-decoration: underline;
  cursor: pointer;
}

.footer-qn9 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn9 {
  border: 2px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 30px;
  width: 1000px;
  margin-left: 160px;
  border-radius: 8px;
}

.footer-qn9:hover {
  background-color: rgb(249, 250, 251);
  text-decoration: underline;
  cursor: pointer;
}

.footer-italic-txt {
  font-style: italic;
  color: rgb(107, 114, 128);
  font-size: 14px;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 60px;
  padding: 48px 24px;
  border-top: 1px solid #E2E8F0;
  border-bottom: 1px solid #E2E8F0;
}

.footer-content {
  display: grid;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.footer-content a {
  text-decoration: none;
   color: #6B7280;
}

.social-container {
  display: flex;
  gap: 10px;
  align-items: baseline;
  height: fit-content;
}

.social-container svg {
  width: 18px;
  height: 18px;
  display: flex;
}

.footer-logo {
  width: 40px;
  height: 40px;
}

.footer-txt1 {
  margin-top: 12px;
  color: #0066cc;
}

.footer-txt2 {
  margin-top: 12px;
  color: #f97316;
}

.footer-line1 {
  display: flex;
}

.footer-line2 {
  color: rgb(107, 114, 128);
  font-size: 16px;
  width: 460px;
  font-family: sans-serif;
  margin-top: 15px;
}

.footer-line3 {
  display: flex;
  font-weight: 500;
  color: #0066cc;
  font-size: 18px;
  margin-top: 40px;
  gap: 5px;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  color: rgb(156, 163, 175);
}

.footer-bottom svg {
  color: #F97316;
}

